* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

.header-fixed {
    background-color: rgb(255, 105, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 15px;
    padding: 10px 0px;
}
.header-fixed img {
    height: 30px;
}

nav {
    color: white;
}

a, i {
    text-decoration: none;
    color:white;
    margin: 0 3px;
}

main {
    padding-top: 100px;
}

.marketplace {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.marketplace img {
    height: 500px;
}