* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

.header-fixed {
    background-color: rgb(255, 105, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 15px;
    padding: 10px 0px;
}
.header-fixed img {
    height: 30px;
}

nav i{
    color: white;
    margin: 0 3px;
}

nav a {
    text-decoration: none;
    color:white;
    margin: 0 3px;
}

main {
    padding-top: 80px;
}

.container {
    margin: 10px 100px;
}

.marketplace {
    display: flex;
    flex: wrap;
}

.product {
    width: calc(100% / 3);
    padding: 15px;
}
.product img {
    width: 100%;
}

.image1 {
    display: block;
}
.image-container:hover .image1 {
    display: none;
}
.image-container:hover .image2 {
    display: block;
}

.image2 {
    display: none;
}

.labels {
    position: absolute;
    left: 0;
    bottom: 30px;
}

.label {
    padding: 5px;
    margin-right: 5px;
    color: white;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.image-container {
    position: relative;
}

.favorite {
    position: absolute;
    right: 0;
    top: 30px;
    padding: 5px;
    font-size: 40px;
    background-color: white;
}
.favorite:hover {
    color: red;
}

.small-font {
    font-size: 12px;
}
.red-font {
    color: red;
    font-weight: bold;
}
.crossed {
    text-decoration: line-through;
}

footer {
    background-color: black;
    color: white;
    margin-top: 30px;
    padding: 10px 210px;
    font-size: 10px;
}

.ft-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.ft-bot {
    display: flex;
    justify-content: space-between;
}

.info a {
    text-decoration: none;
    color: white;
}