* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

.header-fixed {
    background-color: rgb(255, 105, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 15px;
    padding: 10px 0px;
}
.header-fixed img {
    height: 30px;
}

nav i{
    color: white;
    margin: 0 3px;
}

nav a {
    text-decoration: none;
    color:white;
    margin: 0 3px;
}

main {
    padding-top: 100px;
    margin: 0px 40px;
}

.marketplace {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: static;
}

.marketplace img {
    height: 500px;
    padding-right: 20px;
    
    
}

.marketplace i {
    background-color: white;
    padding: 12px;
    position: absolute;
}
.marketplace i:hover {
    color: red;
}

.favourite1 {
    top: 15%;
    left: 518px;
}
.favourite2 {
    top: 15%;
    left: 885px;
}
.favourite3 {
    top: 15%;
    right: 230px;
}

.small-font {
    font-size: 12px;
}
.red-font {
    color: red;
    font-weight: bold;
}
.crossed {
    text-decoration: line-through;
}


.label {
    font-size: 10px;
    color: white;
    position: absolute;
}
.label-red {
    background-color: rgb(255, 0, 0);
    width: 30px;
    padding: 3px;
    top: 540px;
}
.label-red2 {
    background-color: rgb(255, 0, 0);
    width: 30px;
    padding: 3px;
    top: 1110px;
}

.label-green {
    background-color: green;
    width: 65px;
    padding: 3px;
    top: 540px;
    left: 250px;
}
.label-green2 {
    background-color: green;
    width: 65px;
    padding: 3px;
    top: 1110px;
    left: 250px;
}
.label-green3 {
    background-color: green;
    width: 65px;
    padding: 3px;
    top: 1110px;
    right: 510px;
}

footer {
    background-color: black;
    color: white;
    margin-top: 30px;
    padding: 10px 210px;
    font-size: 10px;
}

.ft-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.ft-bot {
    display: flex;
    justify-content: space-between;
}

.info a {
    text-decoration: none;
    color: white;
}